.loader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }

  .loader .loader_icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .loader .loader_icon div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loader_icon 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .loader .loader_icon div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  .loader .loader_icon div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  
  .loader .loader_icon div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  
  @keyframes loader_icon {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  