.item_box{
    width: 250px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 25px;
    vertical-align: top;
    box-shadow: 0 .5rem 1rem rgba(43,42,53,.075)
}

.item_box img{
    width: 250px;
    height: auto;
}

.item_box p{
    margin: 10px 7px;
}

.item_box p:nth-child(3) {
    border-bottom: 1px solid #e1eaea !important;
    padding-bottom: 10px;
}